<textarea #txtarea (keyup)="onKey(txtarea.value)" class="txt">{{myFormTemp}}</textarea>
<div class="center">
<form [formGroup]="myForm">
  <mat-form-field appearance="fill">
    <mat-label>Full Name</mat-label>
    <input matInput placeholder="Full Name" formControlName="name">
  </mat-form-field>
<br>
  <mat-form-field appearance="fill">
    <mat-label>Gender</mat-label>
    <mat-select formControlName="gender">
      <mat-option value="male">Male</mat-option>
      <mat-option value="female">Female</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Life Story</mat-label>
    <textarea formControlName="lifestory" matInput></textarea>
  </mat-form-field>
<br>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Date of Birth"
           formControlName="dob">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker  >
  </mat-form-field>
<br>
<div class="center-btn">
<button [disabled]="jsonEmpty" mat-raised-button (click) = onFormConvert(txtarea.value)>Convert JSON to Form</button>
  <br>
<button [disabled]="myForm.invalid" mat-raised-button (click) = onJsonConvert()>Convert Form to JSON</button>
</div>
</form>
</div>
